html { 
	
}

body {
	margin: 0;
	background-image: url('pineapple-bun.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Comfortaa', cursive; 
	font-weight: 300;
}

a {
	color:#FF8C6D;
	text-decoration:none;

}

#title {
	color: #FF8C6D;
	margin:0;
	position:absolute;
	text-align: left;
	padding-left: 40px;
	padding-top: 4px;
}

#header_container {
	background-color: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	right:0;
	bottom:1px;
	position: absolute;
	height: 50px;
	width: 100%;
}

#header {
	line-height: 20px;
	margin: 0, auto;
	padding-top:0;
	padding-right: 20px;
	width: 100%;
	text-align: right;
	color: #FF8C6D;
}


li {
	list-style-type: none;
	display: inline;
	padding-right: 40px;
}